.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navContainer {
  background-color: #212121;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navButton {
  padding: 20px;
  font-weight: 600;
  font-size: 1rem;
}

.navButton:hover {
  color: #0070f3;
}

.shortDescription {
  width: 50%;
}

.figmaEmbed {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 800px;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0% 15% 5% 15%;
}

.bodyText {
  width: 60%;
}

.section {
  background-color: #e2e2e2;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.sectionTitle {
  background-color: #0070f3;
  color: white;
  font-size: 3rem;
  width: 100%;
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
  margin-top: 5%;
  text-align: center;
}

.title {
  color: #0070f3;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  margin-top: 20px;
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  display: block;
}

.miroBoard {
  width: 850px;
  height: 500px;
  overflow: hidden;
  border-width: 0px;
}

.carousel {
  width: 400px;
}

@media (max-width: 500px) {
  .figmaEmbed {
    width: 100%;
    height: 600px;
  }
}

@media (max-width: 850px) {
  .navButton {
    padding: 10px;
  }

  .carousel {
    width: 75%;
  }
  .miroBoard {
    width: 75%;
    height: 500px;
  }

  .sectionTitle,
  .section {
    padding: 5px;
  }
}
